.gpLineContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    color: black;
    background-color: #e8e8e8;
    max-width: 100%;
    padding: 0.75%;
    border-radius: 10px;
}

.gpLineName {
    grid-area: 1 / 1 / 2 / 3;
}

.gpLineSMB {
    grid-area: 1 / 2 / 2 / 4;
}

.systemDropDown {
    grid-area: 1 / 5 / 2 / 6;
    margin-left: 60%;
}

.gpArea {
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px;  */
    justify-content: start;
    left: 25%;
    transform: translateX(31%);
    max-width: 65%;
}

.expandedDetails {
    grid-area: 2 / 1 / 2 / 3;
    max-width: 57%; 
}